force-app/main/default/flows/AppendingZ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignEmailValue</name>
        <label>AssignEmailValue</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckingEmailLength</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckingEmailLength</name>
        <label>CheckingEmailLength</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LengthIslessThan20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LengthOfEmail</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LengthOfEmail</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatingRecordWithZ</targetReference>
            </connector>
            <label>LengthIslessThan20</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailAppendZ</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email} + &apos;z&apos;</expression>
    </formulas>
    <formulas>
        <name>LengthOfEmail</name>
        <dataType>Number</dataType>
        <expression>LEN({!Email})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>AppendingZ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AppendingZ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdatingRecordWithZ</name>
        <label>UpdatingRecordWithZ</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailAppendZ</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignEmailValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
